:root {
  --primary-color: #d8e2ef;
  --secondary-color: #010a06;
  --accent1-color: #b89b61;
  --accent2-color: #e98a8a;
  --heading-font: "Times New Roman", "Georgia" serif;
  --body-font: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color)
}


header, main, footer {
  width: 800px;
  margin: 0 auto;

}


h1, h2 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
  text-align: center;
  background-color: var(--secondary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 32px;
  height: auto;
  margin: 0 8px;
}

/* === Hero section === */
.hero {
  position: relative;   /* allows positioning inside relative to this */

}

/* Dark overlay so text is easier to read */
.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* 40% black overlay */
  z-index: 0;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;  /* removes small gap below image */
}
h1{
  position: absolute;
  top: 10%;
  width: 100%;
  padding: 1px;
  text-align: center;
  opacity: 0.6;
  background-color: var(--accent1-color);
  color: #fff
}

article {
  position: absolute;
  background-color: var(--accent1-color);
  color: var(--primary-color);
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 12px;  
  top: 60%;
  opacity: 0.9;
  text-align: left;
  z-index: 1;  /* places article above the overlay */
  font-size: 15px;
  padding-inline: 20px;
  color: #fff;
}


.hero article img {
  float: right;
  width: 105px;
  border: 0.9px solid var(--primary-color);
  margin: 0 auto;
  border-radius: 5px;
}


.logo {
  max-width: 150px;
  height: auto;
}



